CMakeFiles/
storage/innobase/Makefile
storage/innobase/CTestTestfile.cmake
storage/innobase/cmake_install.cmake
cscope.*
storage/innobase/tags

bld/
boost/
Docs/

*.o
*.cmake
include/
Makefile
sql/share/
support-files/
scripts/
plugin/
packaging/
zlib/
sql/sql_builtin.cc
debian/
*.swp
CMakeCache.txt
*.dep
archive_output_directory/
cmd-line-utils/libedit/
libmysql/
install_manifest.txt
mysql-test/
sql/sql_hints.yy.cc
sql/sql_hints.yy.h
sql/sql_yacc.cc 
sql/sql_yacc.h

extra
storage/example
libbinlogevents/
libmysqld/
mysys/
regex/
*.so
client/
libevent/
libbinlogstandalone/lib/
sql/gen_lex_hash
sql/gen_lex_token
sql/lex_hash.h
sql/lex_token.h
sql/mysql_tzinfo_to_sql
sql/mysqld
storage/heap/hp_test1
storage/heap/hp_test2
storage/innobase/pmem/
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_connect_attr-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_misc-t
storage/perfschema/unittest/pfs_noop-t
storage/perfschema/unittest/pfs_user-oom-t
testclients/bug25714
testclients/mysql_client_test
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/mytap/libmytap.a
unittest/mytap/t/basic-t

my-load.cnf
