#
# The MySQL database server configuration file.
#
[client]
user = root
port            = 3306
socket          = /tmp/mysql.sock

[mysql]
prompt=\u:\d>\_

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
user = root
socket          = /tmp/mysql.sock
#nice           = 0

[mysqld]
#
# * Basic Settings
#
user = root
default-storage-engine = innodb
skip-grant-tables
pid-file        = /home/vldb/test_data/mysql.pid
socket          = /tmp/mysql.sock
port            = 3306
datadir         = /home/vldb/test_data/
log-error	= /home/vldb/test_data/mysql_error_nvdimm.log

##################################################
# Need to Modify
##################################################
#Log group path (iblog0, iblog1)
innodb_log_group_home_dir=/home/vldb/test_log/
#innodb_log_group_home_dir=/mnt/pmemdir/test_log/
#innodb_undo_directory=/mnt/pmemdir/


#innodb page size
innodb_page_size=4KB

#
# * InnoDB
#

#file per table ON
innodb_file_per_table=1

#buffer settings
innodb_buffer_pool_size=5G
innodb_buffer_pool_instances=8
innodb_max_dirty_pages_pct_lwm=0

#etc
log_error_verbosity=3
innodb_page_cleaners=8

#nvdimm settings
innodb_use_nvdimm_buffer=true
innodb_nvdimm_buffer_pool_size=1G
innodb_nvdimm_buffer_pool_instances=1
innodb_nvdimm_pc_threshold_pct=15
innodb_nvdimm_home_dir=/mnt/pmemdir

#transaction log settings
innodb_log_file_size=500M
innodb_log_files_in_group=3

# 0:every 1 seconds, 1:fsync on commits, 2:writes on commits
innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=32M
innodb_flush_neighbors=0
#innodb_force_recovery = 1

#doublewrite and flush method
innodb_doublewrite=ON
innodb_flush_method=O_DIRECT
# dwb NVM version
innodb_use_nvdimm_dwb=true


#AIO control
innodb_use_native_aio=true
innodb_change_buffering=none
innodb_lru_scan_depth=1024

# etc settings
max_connections = 1024
open_files_limit = 24000

# io settings
#innodb_io_capacity = 10000
#innodb_io_capacity_max = 20000
#innodb_write_io_threads = 32
#innodb_read_io_threads = 32

# monitoring settings
#performance-schema-instrument='wait/synch/mutex/innodb/%=ON'
#performance-schema-instrument='wait/synch/rwlock/innodb/%=ON'
#innodb_status_output = ON
#innodb_status_output_locks = ON
